body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(160deg, #ffffff 35%, #afd0dd 80%);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
    display: block;
}